.header {
    color: var(--color-text-light);
    background-image: linear-gradient(rgba(0, 78, 134, 0.8), rgba(10, 65, 104, 0.8)),
        url(./../../images/header/sean-pollock-203658-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 18px 0 60px 0;

    &__top {
        padding: 8px 0 24px;
        font-size: 12px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(2, auto);
    }

    &__btnBurger {
        background: none;
        border: none;
        justify-self: start;
    }

    &__logo {
        grid-column: 2 / -1;
        @include minW768{
            grid-column-start: 2;
            grid-column-end: 4;
        }
    }

    &__contMail {
        grid-column: 1 / 6;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        @include minW768{
            grid-column: -4 / -1;
            justify-self: end;
            align-items: flex-end;
        }
        @include minW800 {
            grid-column: 8 / 10;
            justify-self: start;
            align-items: flex-start;
        }

        span {
            opacity: 0.5;
        }

        @include minW1024 {}

        @include minW1440 {
            grid-column: 9 / 11;
        }
    }

    &__mailLink {
        display: block;
        position: relative;
        font-size: 14px;
        padding-left: 23px;

        &::after {
            display: block;
            position: absolute;
            left: -1px;
            top: 2px;
            content: '';
            width: 14px;
            height: 14px;
            background: url(./../../images/header/mail.svg) 50% no-repeat;
        }
    }

    &__contTel {
        grid-column: -7 / -1;
        justify-self: end;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        @include minW800 {
            grid-column: 10 / 13;
        }

        @include minW1440 {
            grid-column: 11 / 13;
        }

        span {
            position: relative;
            opacity: 0.5;
            padding-left: 18px;

            &::after {
                display: block;
                position: absolute;
                left: 0;
                top: 0;
                content: '';
                width: 11px;
                height: 11px;
                background: url(./../../images/header/phone.svg) 50% no-repeat;
            }

            @include minW1440 {
                transform: translateY(-8px);
            }
        }
    }

    &__telLink {
        color: var(--color-text-light);
        font-size: 16px;
        line-height: 23px;
        font-weight: 700;

        @include minW800 {
            line-height: 16px;
        }

        @include minW1440 {
            font-size: 20px;
            line-height: 20px;
        }
    }

    &__middle {
        display: grid;
        justify-items: center;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, auto);
        padding-top: 62px;
        margin-bottom: 30px;

        @include minW800 {
            padding-top: 102px;
            grid-template-columns: repeat(12, 1fr);
        }
    }

    &__titleWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;

        @include minW800 {
            display: block;
            grid-column: 1 / 7;
            max-width: 580px;
        }

        @include minW1440 {
            grid-column: 2 / 7;
        }
    }

    &__title {
        text-align: center;
        margin-bottom: 32px;
        font-size: 34px;
        line-height: 44px;

        @include minW800 {
            text-align: left;
        }

        @include minW1024 {
            font-size: 42px;
            line-height: 52px;
        }
    }

    &__titleescription {
        font-size: 20px;
        font-weight: 600;
        line-height: 34px;
        max-width: 388px;
        opacity: 0.7;
    }

    &__getCom {
        max-width: 500px;

        @include minW800 {
            padding-top: 14px;
            grid-column: 8 / 12;
        }

        @include minW1024 {
            grid-column: 8 / 11;
        }

        @include minW1440 {
            grid-column: 9 / 12;
        }
    }

    &__btnGetCom {
        position: relative;
        width: 100%;
        min-width: 258px;
        padding: 25px 48px 25px 48px;
        margin-bottom: 36px;
        display: flex;
        justify-content: center;
        align-items: center;

        &::after {
            position: absolute;
            left: 25px;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            content: '';
            width: 12px;
            height: 12px;
            background: url(./../../images/header/download.svg) 50% no-repeat;
        }
    }



    &__textGetCom {
        font-size: 15px;
        line-height: 28px;
    }


    &__bannerList {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(3, 1fr);
        row-gap: 0;
        
        @include minW1440 {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, auto);
        }
    }

    &__itemNumber {
        margin-right: 31px;
    }

    &__listItem {
        display: flex;
        
        font-weight: 700;
        line-height: 28px;
        grid-column: 1 / -1;
        @media (min-width: 542px) {
            max-width: 260px;
            grid-column: 1 / 7;    
        }
        @include minW1440 {
            grid-column: auto;
            align-self: end;
        }
    }

    &__video {
        display: none;

        @media (min-width: 560px) {
            display: block;
            justify-self: start;
            grid-column: 8 / 13;
            grid-row: 1 / 4;
        }

        @include minW1440 {
            justify-self: end;
            grid-column: 4 / 5;
            grid-row: 1 / 2;
        }

        
    }

    &__wideoPreview {
        border-radius: 50%;
    }
}