* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima', sans-serif;
    color: var(--color-text-dark);
    font-size: 16px;
}

h1, h2, h3, h4, h5{
    font-family: 'Gilroy', serif;
}
h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: 800;
    
}
h2{
    font-size: 32px;
    font-weight: 800;
}

a{
    text-decoration: none;
    color: var(--color-text-accent);
}

li {
    list-style: none;
}




