* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima', sans-serif;
    color: var(--color-text-dark);
    font-size: 16px;
}

h1, h2, h3, h4, h5{
    font-family: 'Gilroy', serif;
    font-weight: 700;
}

a{
    text-decoration: none;
}

li {
    list-style: none;
}




