* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Proxima', sans-serif;
    color: var(--color-text-dark);
    font-size: 16px;
}

h1, h2, h3, h4, h5{
    font-family: 'Gilroy', serif;
}
h1{
    font-size: 42px;
    line-height: 52px;
    font-weight: 800;
    
}
h2{
    font-size: 32px;
    font-weight: 800;
}
h3{
    font-size: 24px;
    font-weight: 800;
}
a{
    text-decoration: none;
    color: var(--color-text-accent);
}
.textLink{
    position: relative;
    &::before{
        position: absolute;
        bottom: -2px;
        display: block;
        height: 1px;
        width: 0;
        content: '';
        background-color: var(--color-text-accent);
        
    }
    &:hover.textLink::before{
        width: 100%;
        transition: 0.5s ease;
    }
}

li {
    list-style: none;
}
blockquote{
    font-family: 'Proxima', sans-serif;
    font-style: italic;
}
cite{
    font-weight: 700;
}





