.button{
    font-family: 'Gilroy', serif;
    font-size: 15px;
    line-height: 15px;
    letter-spacing: 1.4px;
    font-weight: 800;
    color: var(--color-text-dark);
    background-color: var(--color-accent);
    
    border: 2px solid var(--color-accent);
    border-radius: 2px;
    @include transition-time(2);
    &:hover{
        color: var(--color-text-dark);
        background-color: var(--color-text-light);
    }
    &:active{
        background-color: hsl(0, 0%, 80%);
        color: var(--color-text-dark);
    }
}