// брейкпойнтs
// maxW375       max-width 375px
// minW375       min-width 375px
// minW768       min-width 768px
// minW1024      min-width 1024px
// minW1440      min-width 1440px
// minW1592      min-width 1592px
// minW1600      min-width 1600px
 
@mixin maxW375 {
    @media (max-width: 375px) {
        @content;
    }
}

@mixin minW375 {
    @media (min-width: 376px) {
        @content;
    }
}

@mixin minW768 {
    @media (min-width: 768px) {
        @content;
    }
}

@mixin minW1024 {
    @media (min-width: 1024px) {
        @content;
    }
}

@mixin minW1440 {
    @media (min-width: 1440px) {
        @content;
    }
}

@mixin minW1592 {
    @media (min-width: 1592px) {
        @content;
    }
}

@mixin minW1600 {
    @media (min-width: 1600px) {
        @content;
    }
}


@mixin flex($direction, $justify) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
}



// $base-font-size: 16;
// @mixin font-size-rems($target-px-size) {
//     $rem-size: $target-px-size / $base-font-size;
//     font-size: $target-px-size * 1px;
//     font-size: $rem-size * 1rem;
// }

@function px-to-rem($px-val) {
    $rem: calc($px-val / 16);
    @return ($rem * 1rem);
}

@mixin  transition-time($time) {
    transition: all $time * 0.1s ease-in;
}

