//color
$colorTextLight: #fff;
$colorTextGray: #A7A7A7;
$colorTextDark: #010103;
$colorTextAccent: #C7A17A;
// colortheme
$colorAccent: #C7A17A;
$colorAccentDark: #020203;
// $colorAccentDarkSecond: #262626;
// $colorAccentDarkLight: #D1D7ED;
// $colorAccentDarkLight2: #D1D7EC;




//colorBG
$colorBGLightAccent: #FAF5F0;
$colorBGDarck: #13131A;
$colorDecor: #262424;



//colortheme2


:root{
    --color-text-light: #{$colorTextLight};
    --color-text-gray: #{$colorTextGray};
    --color-text-dark: #{$colorTextDark};
    --color-text-accent: #{$colorTextAccent};
    --color-accent: #{$colorAccent};
    --color-accent-dark: #{$colorAccentDark};
    --color-bg-dark: #{$colorBGDarck};
    --color-decor: #{$colorDecor};
    --color-bg-light-accent: #{$colorBGLightAccent};
    // --color-accent-dark-second: #{$colorAccentDarkSecond}; 
    // --color-accent-dark-light: #{$colorAccentDarkLight};
    // --color-accent-dark-light2: #{$colorAccentDarkLight2}; 
}





